@{
    Layout = "_Layout";
}

<div class="container py-4">
    <div class="container d-flex flex-wrap justify-content-between py-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <img src="./img/Margherita-9920.webp" alt="">
                    </td>
                    <td>Margherita</td>
                    <td>The most famous pizza which also represents best italy through its colors. The red tomato sauce, the green basil, the white cheese.</td>
                    <td>€ 5</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        <img src="./img/4 formaggi.jfif" alt="">
                    </td>
                    <td>4 Formaggi</td>
                    <td>This pizza is the go to for cheese lovers. This one is a white pizza meaning there is no tomato sauce but insteade we have a blend of four different cheeses.</td>
                    <td>€ 6</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>
                        <img src="./img/capri.jfif" alt="">
                    </td>
                    <td>Capricciosa</td>
                    <td>An interesting pizza would be the Capricciosa. Ours is made with base of tomate sauce with different toppings such as ham, eggs, olives, artichokes and sausage.</td>
                    <td>€ 6</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        <img src="./img/fp.jfif" alt="">
                    </td>
                    <td>Funghi e Prosciutto</td>
                    <td>The pizzaiolo's personal favourite, this pizza is simple yet really tasty. Tomate sauce based, it topped with ham and fresh mushrooms.</td>
                    <td>€ 7</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>
                        <img src="./img/mari.jfif" alt="">
                    </td>
                    <td>Marinara</td>
                    <td>Perhaps the most simple pizza we have, the marinara is made with tomate sauce, garlic oil and a touch of origan.</td>
                    <td>€ 4.5</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>
                        <img src="./img/sea_earth.jfif" alt="">
                    </td>
                    <td>Mare e Monti</td>
                    <td>As its name implies (Sea and Earth), this pizza encapsulates the goodness that the land and the sea can offer. This transaltes into tomatoes, mushrooms, salmon, rucola</td>
                    <td>€ 9</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

