@{
    Layout = "_Layout";
}

<div class="container d-flex flex-wrap justify-content-between py-4">
    <div class="my-card-container card-one my-3 mt-0">
        <div class="overlay">
            <div class="items"></div>
            <div class="items head">
                <p>Margherita</p>
                <p class="ms-card-p">The most famous pizza which also represents best italy through its colors. The red tomato sauce, the green basil, the white cheese.</p>
                <hr />
            </div>
            <div class="items price">
                <p class="new">€5</p>
            </div>
            <div class="items cart">
                <i class="fa fa-shopping-cart"></i>
                <span>ADD TO CART</span>
            </div>
        </div>
    </div>
    <div class="my-card-container card-two my-3 mt-0">
        <div class="overlay">
            <div class="items"></div>
            <div class="items head">
                <p>4 Formaggi</p>
                <p class="ms-card-p">
                    This pizza is the go to for cheese lovers. This one is a white pizza meaning there is no tomato sauce but insteade we have a blend of four different cheeses.
                </p>
                <hr />
            </div>
            <div class="items price">
                <p class="new">€6</p>
            </div>
            <div class="items cart">
                <i class="fa fa-shopping-cart"></i>
                <span>ADD TO CART</span>
            </div>
        </div>
    </div>
    <div class="my-card-container card-three my-3 mt-0">
        <div class="overlay">
            <div class="items"></div>
            <div class="items head">
                <p>Capricciosa</p>
                <p class="ms-card-p">An interesting pizza would be the Capricciosa. Ours is made with base of tomate sauce with different toppings such as ham, eggs, olives, artichokes and sausage.</p>
                <hr />
            </div>
            <div class="items price">
                <p class="new">€6</p>
            </div>
            <div class="items cart">
                <i class="fa fa-shopping-cart"></i>
                <span>ADD TO CART</span>
            </div>
        </div>
    </div>
    <div class="my-card-container card-four my-3">
        <div class="overlay">
            <div class="items"></div>
            <div class="items head">
                <p>Funghi e Prosciutto</p>
                <p class="ms-card-p">
                    The pizzaiolo's personal favourite, this pizza is simple yet really tasty. Tomate sauce based, it topped with ham and fresh mushrooms.
                </p>
                <hr />
            </div>
            <div class="items price">
                <p class="new">€7</p>
            </div>
            <div class="items cart">
                <i class="fa fa-shopping-cart"></i>
                <span>ADD TO CART</span>
            </div>
        </div>
    </div>
    <div class="my-card-container card-five my-3">
        <div class="overlay">
            <div class="items"></div>
            <div class="items head">
                <p>Marinara</p>
                <p class="ms-card-p">Perhaps the most simple pizza we have, the marinara is made with tomate sauce, garlic oil and a touch of origan.</p>
                <hr />
            </div>
            <div class="items price">
                <p class="new">€4.50</p>
            </div>
            <div class="items cart">
                <i class="fa fa-shopping-cart"></i>
                <span>ADD TO CART</span>
            </div>
        </div>
    </div>
    <div class="my-card-container card-six my-3">
        <div class="overlay">
            <div class="items"></div>
            <div class="items head">
                <p>Mare e Monti</p>
                <p class="ms-card-p">As its name implies (Sea and Earth), this pizza encapsulates the goodness that the land and the sea can offer. This transaltes into tomatoes, mushrooms, salmon, rucola</p>
                <hr />
            </div>
            <div class="items price">
                <p class="new">€9</p>
            </div>
            <div class="items cart">
                <i class="fa fa-shopping-cart"></i>
                <span>ADD TO CART</span>
            </div>
        </div>
    </div>
</div>

